In [1]:
# Import dependencies
import pandas as pd
import numpy as np

In [3]:
# Read the accidents CSV into Pandas DataFrame
accidents_data = pd.read_csv('Resources/US_Accidents_Dec20_Updated.csv')
accidents_data.head()

,ID,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),Description,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-1,2,2019-05-21 08:29:55,2019-05-21 09:29:40,34.808868,-82.269157,34.808868,-82.269157,0.0,Accident on Tanner Rd at Pennbrooke Ln.,...,False,False,False,False,False,False,Day,Day,Day,Day
1,A-2,2,2019-10-07 17:43:09,2019-10-07 19:42:50,35.090080,-80.745560,35.090080,-80.745560,0.0,Accident on Houston Branch Rd at Providence Br...,...,False,False,False,False,False,False,Day,Day,Day,Day
2,A-3,2,2020-12-13 21:53:00,2020-12-13 22:44:00,37.145730,-121.985052,37.165850,-121.988062,1.4,Stationary traffic on CA-17 from Summit Rd (CA...,...,False,False,False,False,False,False,Night,Night,Night,Night
3,A-4,2,2018-04-17 16:51:23,2018-04-17 17:50:46,39.110390,-119.773781,39.110390,-119.773781,0.0,Accident on US-395 Southbound at Topsy Ln.,...,False,False,False,False,True,False,Day,Day,Day,Day
4,A-5,3,2016-08-31 17:40:49,2016-08-31 18:10:49,26.102942,-80.265091,26.102942,-80.265091,0.0,Accident on I-595 Westbound at Exit 4 / Pine I...,...,False,False,False,False,True,False,Day,Day,Day,Day

In [4]:
accidents_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2906610 entries, 0 to 2906609
Data columns (total 47 columns):
 #   Column                 Dtype
---  ------                 -----
 0   ID                     object
 1   Severity               int64
 2   Start_Time             object
 3   End_Time               object
 4   Start_Lat              float64
 5   Start_Lng              float64
 6   End_Lat                float64
 7   End_Lng                float64
 8   Distance(mi)           float64
 9   Description            object
 10  Number                 float64
 11  Street                 object
 12  Side                   object
 13  City                   object
 14  County                 object
 15  State                  object
 16  Zipcode                object
 17  Country                object
 18  Timezone               object
 19  Airport_Code           object
 20  Weather_Timestamp      object
 21  Temperature(F)         float64
 22  Wind_Chill(F)          float64
 23  Humidity(%)            float64
 24  Pressure(in)           float64
 25  Visibility(mi)         float64
 26  Wind_Direction         object
 27  Wind_Speed(mph)        float64
 28  Precipitation(in)      float64
 29  Weather_Condition      object
 30  Amenity                bool
 31  Bump                   bool
 32  Crossing               bool
 33  Give_Way               bool
 34  Junction               bool
 35  No_Exit                bool
 36  Railway                bool
 37  Roundabout             bool
 38  Station                bool
 39  Stop                   bool
 40  Traffic_Calming        bool
 41  Traffic_Signal         bool
 42  Turning_Loop           bool
 43  Sunrise_Sunset         object
 44  Civil_Twilight         object
 45  Nautical_Twilight      object
 46  Astronomical_Twilight  object
dtypes: bool(13), float64(13), int64(1), object(20)
memory usage: 790.0+ MB

In [5]:
accidents_data = accidents_data[['Start_Time', 'Start_Lat', 'Start_Lng', 'Severity', 'Roundabout']]
accidents_data

                  Start_Time  Start_Lat   Start_Lng  Severity  Roundabout
0        2019-05-21 08:29:55  34.808868  -82.269157         2       False
1        2019-10-07 17:43:09  35.090080  -80.745560         2       False
2        2020-12-13 21:53:00  37.145730 -121.985052         2       False
3        2018-04-17 16:51:23  39.110390 -119.773781         2       False
4        2016-08-31 17:40:49  26.102942  -80.265091         3       False
...                      ...        ...         ...       ...         ...
2906605  2018-06-28 08:49:01  29.813824  -95.399437         2       False
2906606  2019-01-10 02:01:01  34.068890 -117.342010         2       False
2906607  2020-11-23 12:52:00  25.702200  -80.335556         2       False
2906608  2019-12-29 22:38:00  40.660140 -111.952460         2       False
2906609  2018-03-26 13:35:03  38.831749 -104.748161         2       False

[2906610 rows x 5 columns]

In [12]:
roundabout_data = accidents_data.loc[accidents_data['Roundabout'] == True]
roundabout_data

                  Start_Time  Start_Lat   Start_Lng  Severity  Roundabout
33307    2018-05-16 11:13:53  35.163605  -80.578300         2        True
39121    2018-08-22 05:21:11  26.592087  -81.678787         2        True
41950    2020-03-20 13:51:01  33.493668  -82.099350         2        True
52577    2020-05-26 09:22:33  30.248320  -97.758652         2        True
152774   2018-12-13 07:26:37  25.776196  -80.380127         2        True
...                      ...        ...         ...       ...         ...
2823928  2020-10-26 11:42:00  30.336379  -97.651551         2        True
2825233  2020-05-07 16:20:15  26.592080  -81.678940         2        True
2836169  2020-12-08 16:52:00  28.543657  -81.366669         2        True
2851130  2020-07-28 08:45:52  32.217258 -110.963951         2        True
2895689  2017-09-26 14:41:57  28.402260  -81.221420         2        True

[142 rows x 5 columns]